body{
  justify-content: center;
  text-align:center;
}
.jumbo,.serv{
  position:absolute;
height:100%;
width:100%;

text-align: center;
top:30%;
bottom:70%;

 }

.containe{
  
  position: relative;
  text-align: center;
}
h1{
  font-size:76px;
  margin-top:50px;
  font-family:"'Bungee Inline', cursive";
  font-weight:800;
}
h2{
  font-family:"'teko', cursive";
  font-weight: 800;
}
h3{
  
}
#hw{
  margin-top:80px;
}
#hd{
  margin-top:25px;
}
#hport{
  margin-top:30px;
}
#mouse{
  margin-top:250px;
}
.about{
  margin-top:30px;
  text-align:center;
  font-size:26px;
  
}
.services{
  position:relative;
  margin:auto;
  text-align:center;
  color:white;
  font-size:26px;
  
}

#whath2{
  margin-top:50px;
  margin-bottom:100px;
}
.column{
  padding:10px, 5px, 10px, 5px;
}

.cont{
  margin-top:20px;
}

#c-image{
  position:relative;
  margin-top:40px;
}
.contact{
  position:absolute;
  height:100%;
  width:100%;

  text-align: center;
  top:15%;
  
  
}
.form-section{
  position:relative;
  margin:auto;
  text-align:center;
  color:white;
  font-size:26px;
  
}
#comm{
  margin-top:20px;
}
.transpa{
  background-color:transparent;
  color:white;
}
.social-icons{
  display:flex;
  justify-content:space-between;

  margin:40px 600px 40px 600px;
  
}
